.create-header {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: end;

    img {
        width: 60px;
    }
}

// carosello

.progress {
    --bs-progress-bg: #D3BF6A !important;
    --bs-progress-bar-bg: #598C80 !important;
}

.progress-bar-create {
    padding: 26px 0;
}

.create-section {
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    min-height: 650px;
    flex-direction: column;
}

.input-container {
    margin-top: 60px;
}

.address-input {
    margin-bottom: 30px;
    margin-top: 40px;

    .card {
        background-color: white;
    }
}

.information {
    padding: 10px 24px;
    margin-bottom: 20px;
}

.information img {
    width: 30px;
}


.slider-btns {
    display: flex;
    gap: 26px;

    .slider-btn .icon {
        font-size: 30px;
        color: #5B8D81;
    }
}

#prevBtn,
#nextBtn {
    cursor: pointer;
}

.input-error {
    border-right: solid 5px red !important;
}

.form-button {
    flex-grow: 1;
    display: flex;
    align-items: end;
    justify-content: end;
}


.button-create-ann {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.2rem;
    padding-inline: 1.1rem;
    background-color: #5A8D81;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button-create-ann:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button-create-ann:hover .icon {
    transform: translate(4px);
}

.button-create-ann:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button-create-ann::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

// Responsive

@media (max-width: 768px) {
    .container {
        .progress-bar-create {
            display: none !important;
        }

        .resp-info-create {
            text-align: center;
        }

        .checkbox-wrapper-resp {
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
        }
    }
}