.card-dash{
    width: 700px;
    height:380px;
    margin: 0 auto;
}

.card-title {
    font-size: 25px;
    text-align: center;
    // color: #6C757D;
    color: white;
    background-color: #96B7AE;
}

.card-text {
    font-size: 20px;
    margin-right: 20px;

}
.dash-title {
    text-align: center;
    color: gray;
}

.icon {
    width: 32px;
}

.icon:hover {
    width: 35px;
}

.card-option {
    padding: 14px;
    margin-right: 20px;
}