body {
    font-family: "Quicksand", sans-serif;
}

.tbl {
    border-bottom: solid 1px lightgray;

    &:last-child {
        border-bottom: none;
    }
}

.tbl-item {
    display: flex;
    align-items: center;
    // justify-content: center;
}

.dropdown-menu {
    --bs-dropdown-min-width:25rem;  
}

.img-plus{
    width: 600px; 
}