body {
    font-family: "Quicksand", sans-serif;
}

.header-logo {
    width: 100px;
}

.tbl {
    border-bottom: solid 1px lightgray;

    &:last-child {
        border-bottom: none;
    }
}

.tbl-item {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    --bs-dropdown-min-width: 25rem;
}

.map-container {
    width: 600px;
    height: 600px;
    border: 1px solid grey;
    box-shadow: 0px 3px 4px 2px lightgray;
}

.img-plus {
    width: 600px;
}

.service-icon {
    width: 36px;
}