body {
    font-family: "Quicksand", sans-serif;
}

.header-logo {
    width: 100px;
}

.tbl {
    border-bottom: solid 1px lightgray;

    &:last-child {
        border-bottom: none;
    }
}

.tbl-item {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    --bs-dropdown-min-width: 25rem;
}

.img-plus {
    width: 600px;
}

.service-icon {
    width: 50px;
}