
.section-msg {
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.title-msg{
    text-align: center;
    margin-bottom: 40px; 
}

.building-wrap {
    margin-bottom : 30px; 
}

.surname {
    margin-left: 1px; 
}


$accordion-bg: white;
$accordion-border-color: grey;
$accordion-button-color: black;
$accordion-button-bg: white;
$accordion-button-focus-border-color: #5A8D81;
$accordion-button-active-color: white;
$accordion-button-active-bg: #5A8D81;
$accordion-button-focus-box-shadow: none; 

