.section-msg {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.fun-wrap {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.messages-img img {
    width: 30px;
}

.accordion-title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;

    span {
        margin-bottom: -12px;
        color: #5A8D81;
    }

    img {
        width: 50px;
    }
}

.msg-wrap {
    display: flex;
    gap: 25px;
    max-width: 100%;

    p {
        margin-bottom: 3px;
    }

    .user-wrap {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;
        flex-basis: calc(100% / 3);
        flex-shrink: 0;
    }
}

.title-msg {
    text-align: center;
    margin-bottom: 40px;
}

.building-wrap {
    margin-bottom: 30px;
    display: none; 
}

.surname {
    margin-left: 1px;
}

.no-messages {
    padding: 15px;
    background-color: whitesmoke;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 200;

    p {
        margin-bottom: 2px;
    }

    i {
        color: #D2BF6A;
    }

    .spons-link {
        text-decoration: underline;
        color: #5A8D81;
        cursor: pointer;
    }
}

.balloon {
    background-color: #5A8D81;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.balloon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -52%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #5A8D81 transparent transparent transparent;
}


.hide-icon { 
    display: none;
}

.show-building {
    display: block; 
}

.msg-select-title {
    color: gray;
    font-size: 1.3rem; 
    padding: 5px; 
    margin-left: 3px; 
}

.form-select {
    margin-bottom: 20px; 
}

.text-gray {
    color: gray; 
}
//accordion: sass modifier

$accordion-bg: white;
$accordion-border-color: grey;
$accordion-button-color: black;
$accordion-button-bg: white;
$accordion-button-focus-border-color: #5A8D81;
$accordion-button-active-color: white;
$accordion-icon-active-color : white;
$accordion-button-active-bg: #5A8D81;
$accordion-button-focus-box-shadow: none;

//select: sass modifier

$input-font-family: "Quicksand", sans-serif;
$form-select-color: white; 
$form-select-border-color: #D2BF6A;
$form-select-focus-border-color: #5A8D81;
$input-btn-focus-color:  #D2BF6A;
$input-bg : #5A8D81;
$form-select-indicator-color: white;
$form-select-font-size: 1.5rem; 

    



