
.section-msg {
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.accordion-title {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    margin-left: 20px; 

    span {
        margin-bottom: -12px; 
        color: #5A8D81;
    }

    img {
        width: 50px; 
    }
}

.title-msg{
    text-align: center;
    margin-bottom: 40px; 
}

.building-wrap {
    margin-bottom : 30px; 
}

.surname {
    margin-left: 1px; 
}

.no-messages {
    padding: 15px; 
    background-color: whitesmoke;
    border: 1px solid black; 
    font-size: 20px; 
    font-weight: 200;

    p {
        margin-bottom: 2px; 
    }

    i {
        color: #D2BF6A;
    }

    .spons-link {
        text-decoration: underline;
        color: #5A8D81;
        cursor: pointer;
    }
}


$accordion-bg: white;
$accordion-border-color: grey;
$accordion-button-color: black;
$accordion-button-bg: white;
$accordion-button-focus-border-color: #5A8D81;
$accordion-button-active-color: white;
$accordion-icon-active-color : white;
$accordion-button-active-bg: #5A8D81;
$accordion-button-focus-box-shadow: none; 

