// Button

.back-btn-stats {
    display: flex;
    height: 1.8em;
    width: 160px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    color: white;
    background: #5A8D80;
}

.back-btn-stats>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
    fill: white;
}

.back-btn-stats:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back-btn-stats:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}


.stats-img img {
    width: 50px;
}

.add-sponsorship {
    &:hover {
        scale: 1.2;
        color: #5B8E81;
    }
}

.chart-container {
    max-width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;

    .chart {
        max-height: 500px;
        max-width: 80%;
        font-size: 15px;
        font-weight: 300;
    }
}

.chart-des {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    gap: 10px;
    padding: 20px;

    span {
        text-align: center;
        max-width: 100%;
        font-size: 20px;
        font-weight: 500;
    }

    i {
        font-size: 30px;
        color: #5B8E81;
    }
}

@media (max-width: 575.98px) {
    .chart-des {
        padding: 0px;

        span {
            font-size: 9px;
        }

        img {
            width: 80%;
        }
    }

    .back-btn-stats {
        width: 40px;
    }

    .title-stat {
        width: 50%;
    }
}